*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid;
}
.header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}  

.usuarios-div, .sitios-div{
    font-size: 15px;
}

.side-bar-titulo{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #a1a1a1;
    height: 100%;
    width: 22%;
    border-radius: 0 15px 15px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.side-bar{
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.nav{
    margin: 0px 30px; /* espacio para los iconos del side */
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

li{
    list-style: none;
}
a{
    font-size: 25px;
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}



#bienvenido{
    box-shadow: 0 2px 10px rgb(167, 167, 167);
    border-radius: 15px;
    padding: 35px;
    width: 68%;
    margin: 30px 35px 30px 30px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
}

#bienvenido p{
    font-weight: bold;
    font-size: 40px;
}

#bienvenido div{
    font-size: 30px;
}

#bienvenido i {
    font-size: 30px;
}

#bienvenido .icons{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    font-size: 20px;
}


.targetas{
    width: 70%;
    margin: 30px 60px 30px 30px;
    float: right;
    display: flex;
    justify-content: space-between;
}

.targetas .resumen {
    background-color: #9accff;
    padding: 35px;
    border-radius: 15px;
    width: 450px;
    height: 160px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgb(167, 167, 167);
} 


.resumen .resumen-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.resumen .resumen-titulo #button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #dedede;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.resumen .textos, .clientes .textos{
    display: flex;
    flex-direction: column;

}

.targetas .clientes{
    background-color: #9accff;
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgb(167, 167, 167);
}

.clientes .clientes-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}




#alertas{
    box-shadow: 0 2px 10px rgb(167, 167, 167);
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: 30px 35px 30px 30px;
    float: right;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(255, 255, 127);
}

#alertas .alertas-titulo{
    width: 12%;
    font-size: 20px;
    justify-content: space-around;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    flex-direction: row;
}
#alertas .alertas-div{
    display: flex;
    width: 100%;
}


#usuarios{
    box-shadow: 0 2px 10px rgb(167, 167, 167);
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: 30px 35px 30px 30px;
    float: right;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(205, 217, 255);
}

#usuarios .usuarios-titulo{
    width: 25%;
    font-size: 20px;
    justify-content: space-around;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    flex-direction: row;
}
#usuarios .usuarios-div{
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
    width: 100%;
}


#sitios_web{
    box-shadow: 0 2px 10px rgb(167, 167, 167);
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: 30px 35px 30px 30px;
    float: right;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(255, 205, 222);
}

#sitios_web .sitios-titulo{
    width: 28%;
    font-size: 20px;
    justify-content: space-around;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    flex-direction: row;
}

#sitios_web .sitios-div{
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
    width: 100%;
}


#historiales{
    box-shadow: 0 2px 10px rgb(167, 167, 167);
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: 30px 35px 30px 30px;
    float: right;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(161, 231, 231);
}

#historiales .historial-titulo{
    width: 60%;
    font-size: 20px;
    justify-content: space-around;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    flex-direction: row;
}
.form #id_sitio{
    padding: 5px 10px ;
}

#historiales .historial-div{
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
    width: 100%;
}


#btnU, #btnS, #btnH{
    width: 80px;
    height: 30px;
    border-radius: 6px;
}

#usuariosTabla td{
    padding: 5px;
}